<section id="menu" class="weekly-offer-section">
    <div class="container text-center">
      <div class="title-line d-flex align-items-center justify-content-center">
        <div class="silver-line flex-grow-1"></div>
        <h2 class="weekly-title mx-4">Heti ajánlatunk</h2>
        <div class="silver-line flex-grow-1"></div>
      </div>
    </div>
  
    <div class="weekly-text mt-4">
      <p>Minden héten, újabbnál újabb ajánlattal jövünk nektek, a Gladiator Bistroban!</p>
      <p>Minden héten, péntekenként, 10:00–18:00 óráig!</p>
      <p>Gyere és kóstolj bele a Gladiator életérzésbe!</p>
    </div>
  
    <section class="surprise-section">
      <div class="container-fluid d-flex justify-content-center">
        <div class="surprise-card d-flex flex-wrap">
          <div class="surprise-image-container">
            <img src="image/suprisemenu.jpeg" alt="Surprise Menu" class="surprise-img">
          </div>
          <div class="surprise-content">
            <p class="surprise-date">2021.03.25 Péntek</p>
            <div class="surprise-menu">
              <p>
                Keto beef burger és <br>
                ajándék cukor- és <br>
                gluténmentes <br>
                mascarpone krém
              </p>
            </div>
            <button class="event-button">Tovább az eseményekhez</button>
          </div>
        </div>
      </div>
    </section>
  </section>
  