<section class="mission-section">
    <div class="overlay"></div>
    <div class="mission-content">
      <h2 class="mission-title">Termékeink</h2>
      <p class="mission-description">
        Az oldal célja az, hogy az online felületeken való <br>
        szétszóródást megszüntesse, egységesítse a tartalmaink <br>
        megjelenését és a Googlében az első oldalon hozzon ki <br>
        minket, ha valaki Nyíregyen jár és gluténmentesen akar enni, <br>
        vagy ha valami egészséges receptet akar, akkor Rami <br>
        konyhájából tudjon nézni.
      </p>
    </div>
    <button class="event-button1">Tekintsd meg a listát</button>
  </section>
  