<section id="products" class="product-section">
    <div class="container-fluid px-5">
      <div class="row justify-content-center">
  
        <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-5">
          <div class="product-card">
            <img src="image/croasson.jpeg" alt="Croasson" class="main-img">
            <img src="image/Mentes Gladiator.png" alt="Mentes Gladiator" class="corner-img top-right mentes-large">
          </div>
          <h3 class="product-title">Péksütemények</h3>
        </div>
  
        <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-5">
          <div class="product-card">
            <img src="image/StreetFood.jpeg" alt="Street Food" class="main-img" style="margin-right:200px;width:110%;">
            <img src="image/100gluten.png" alt="Gluténmentes" class="corner-img top-left mentes-large">
          </div>
          <h3 class="product-title">Street Foodok</h3>
        </div>
  
        <div class="col-12 col-md-4 d-flex flex-column align-items-center mb-5">
          <div class="product-card">
            <img src="image/cake.jpeg" alt="Cake" class="main-img" style="margin-left:200px;width:110%;">
            <img src="image/zerocukor.png" alt="Zéró Cukor" class="corner-img top-right mentes-large">
          </div>
          <h3 class="product-title">Cukrászati sütemények</h3>
        </div>
      </div>
        <button class="menu-button mt-4"><b>Étlapunk megtekintése!</b></button>
        <div class="gold-stripe"></div>
      
    </div>
  </section>
  