<section class="rami-section">
    <div class="rami-overlay"></div>
    <div class="rami-container">
      <div class="rami-text">
        <h2 class="rami-title">Rami konyhája</h2>
        <p class="rami-description">
          Az oldal azért jött létre, hogy olyan recept és táplálkozási tanácsokat-, ötleteket osszak meg veletek,
          amivel könnyebbé, élvezetessé tudjátok tenni a kül. betegségekből, ételallergiából adódó diétátokat.<br>
          Az oldalon található infók azoknak is kiváló segítséget fog adni, akik egészségesen akarnak élni.
        </p>
        <button class="rami-button">Tekintse meg a listát</button>
      </div>
      <div class="rami-image-wrapper">
        <img src="image/Group-1603.png" alt="Rami Konyhája Illusztráció" class="rami-image">
      </div>
    </div>
  </section>
  